* {
  box-sizing: border-box;
  font-family: "Rufina", serif;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

body {
  /* background-color: blue; */
  height: 100vh;
}

nav {
  height: 10vh;
}
nav ul {
  display: flex;
  /* background-color: red; */
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.company-icon {
  position: absolute;
  left: 20px;
  width: 50px;
  height: 50px;
  background-color: rgb(220 97 97);
  border-radius: 50px;
  color: white;

  font-family: "Qwitcher Grypen", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
nav ul li {
  margin: 0px 20px;
}
.icons {
  display: flex;

  flex-direction: column;
  align-items: end;
}

.icons i {
  margin: 10px 10px 0px 0px;
  font-size: 30px;
  z-index: 1000;
  width: 30px;
  color: rgb(220 97 97);

  font-size: 2rem;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 6rem;
}
.text-main {
  position: absolute;
  left: 29%;
  top: 20%;
  /* background-color: rgb(220 97 97); */
  padding: 60px;
  color: rgb(220 97 97);
  border-radius: 110px;

  /* opacity: 0.7; */
  /* border: 2px solid black; */
}
.mainsection {
  width: 100%;
  height: 100%;
  position: relative;
}
section img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

section h3 {
  font-weight: 400;
  font-style: italic;
  font-size: 1.5rem;
  text-align: center;
}

footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
